.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 400vh;

  font-size: calc(10px + 2vmin);
  color: white;
}

.Navbar {
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
}
a:link {
  color: #008000;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(245, 237, 238);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(21, 255, 0);
  background-color: transparent;
  text-decoration: underline;
}



