.OilCard {
  float: left;
  font: italic 1.2em "Fira Sans", serif;
  margin: 1.5%;
  background: rgb(80, 77, 77);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.OilCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#OilForm {
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
